body {
  background: #000;
}

.content {
  background: transparent;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 5%;
  position: absolute;
  display:table;
  pointer-events: none;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

#canvas-1 {
  float: right;
  display: block;
  position: relative;
}

.content-hello {
  display: table;
  height: 100%;
}

.hello {
  display: table-cell;
  vertical-align: middle;
  color: white;
  top: -50%;
  font-size: 115px;
  line-height: 130px;
  font-weight: 700;
  letter-spacing: 2px;
}