body {
  background: #000;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

#canvas-1 {
  float: right;
  display: block;
  position: relative;
}