body {
  background: #000;
}

.content {
  background: transparent;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 5%;
  position: absolute;
  pointer-events: none;
}

.canvas-container {
  display:table;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  opacity: 0.5;
}

.lightcanvas {
  display: table-cell;
  vertical-align: middle;
}

#canvas-1 {
  float: right;
}

.content-hello {
  display: table;
  height: 100%;
}

.hello {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.intro-content {
  pointer-events: none;
}